.row {
    margin: auto;
    display: table-row;
}
.box {
    width: 150px;
    height: 50px;
    margin: 20px;
    color: #fefefe;
    text-align: center;
    display: table-cell;
    vertical-align: middle

}
.black {
    background-color: #1b262c;
}
.darkblue {
    background-color: #0f4c75;
}
.blue {
    background-color: #3282b8;
}
.lightblue {
    color: #1b262c;
    background-color: #bbe1fa;
}

.red {
    background-color: #e32249;
}
.lightred {
    color: #1b262c;
    background-color: #f17362;
}
.yellow {
    background-color: #d8c962;
}
.lightyellow {
    color: #1b262c;
    background-color: #dddc92;
}

.green {
    background-color: #007944;
}
.lightgreen {
    color: #1b262c;
    background-color: #71a95a;
}